{% extends "layout.html" %}

{% block content %}
<html>
<body>
    <p>
        <img src=" https://img.emalon.co.il/maps/mapdeadsea2.jpg" width="200" height="400" align="left" />
        <img src="https://img.emalon.co.il/maps/mapkineret.jpg" width="200" height="400" align="right" />
    </p>

    <h1 align="center">
        השפעת מפלס הכנרת על מפלס ים המלח
    </h1>
    <br />
    
    <p align="center">
        כאשר מפלס הכנרת מגיע לקו העליון פותחים את סכר דגניה ומשחררים מים אל ים המלח
        
    </p>
    <p align="center">
        לכן נשאלת השאלה איך מפלס הכינרת משפיע על מפלס ים המלח 
    </p>
    
        <h2 align="center"> 
            קצת על הכנרת

        </h2>
        <p align="center">
            הַכִּנֶּרֶת היא ימה בצפון מזרחה של ישראל. זהו אגם המים המתוקים הגדול בארץ ישראל. בעבר סיפקה הכנרת כרבע מצריכת המים בישראל, אך בעקבות ירידת מפלס המים פרי שנות בצורת פחתה שאיבת המים מהאגם, מתקני התפלה היו לספק המים העיקרי וכיום הכנרת מספקת בין 2 אחוזים מסך הצריכה[3] ל13 אחוזים[4]. מפלס מי הכנרת משתנה ונמצא סביב 209.9 מטרים מתחת לפני הים.
        </p>
        <br />  
        
        <h2 align="center">
            קצת על ים המלח
        </h2>
        <p align="center">
         ים המלח נמצא בחלקה המזרחי של המדינה ומהווה גבול בין מדינת ישראל לממלכת ירדן. ים זה הוא הים הנמוך בעולם, נמצא ב"שבר בקע ים המלח" (המכונה גם "השבר הסורי–אפריקאי") ולו חשיבות סביבתית, כלכלית, תרבותית ותיירותית רבה
        </p>
    
    {%for i in range(15) %}
    <br />
    {%endfor%}

</body>
</html>
{% endblock %}
